<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta name="robots" CONTENT="INDEX, FOLLOW">

        <title>{% block title %}It's Going To Be{% endblock %}</title>

        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('/css/itsgoingtobe.min.css') }}">

        <link rel="icon"
          type="image/png"
          href="{{ asset('favicon.png') }}">

    </head>
    <body>

        <div class="container header-container hideable">
        	<div class="header center-text">
        		<h1>It's going to be</h1>
        	</div>
        </div>

    	<div class="container answer-container">
    		<div class="options show-results">
                <span class="input input-options">
                    <span class="result-wrapper">
                        <span class="result" name="answer-0" style="width:100%"></span>
                    </span>
                    <input id="answer-0" class="input-radio input-radio-options" name="answer" type="radio" value="0" checked>
                    <label for="answer-0" class="input-label input-radio-label input-label-options">{{ status_code ~ ' - ' ~ status_text  }}</label>
                </span>

                <p class="error-message center-text">It looks like the requested page could not be loaded, please try again later.</a></p>
    		</div>
        </div>

    </body>
</html>
