@import "bourbon";
@import "neat";
@import "variables";

.back-container {
  position: absolute;
  width: auto;
  top: 0px;
  left: 0px;
  z-index: 200;
  .back-button {
    a {
      line-height: 50px;
      margin-left: 10px;
      color: $dark-grey;
      cursor: pointer;
      font-size: 1rem;
      transition: color 0.4s ease;

      &:hover {
        color: $base-font-color;
      }
    }
  }
}
