.header-container{
	&.answer-header-container .header {
    	margin-bottom: 0px;
	}
	.share-link {
		margin: 0px;
	    font-weight: 300;
	    font-size: 1.25rem;
	    @include media(max-width $medium-breakpoint) {
	        font-size:1.0rem;
	    }
	    margin-top: 15px;
	    border-radius: 30px;
	    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
	    background: #EAEAEA;
	    padding: 0.25em 0.75em;
	    display: inline-block;
	}
	h3 {
		@include media(max-width $medium-breakpoint) {
			position: relative;
			height: 90px;
		}
	}
	.shareButton {
		display: inline-block;
		width:1.75em;
		padding: 0.25em 0.25em;
		border-radius: 30px;
		font-size: 1.25rem;
		margin-left: 5px;

		background: #EAEAEA;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
		color: $text-color;

		@include media(max-width $medium-breakpoint) {
			position: absolute;
			top:55px;
			left:50%;
			margin-left:22.5px;
		}

		&.twitter {
			background:#55acee;
			color: $white-color;
			@include media(max-width $medium-breakpoint) {
				margin-left:-57.5px;
			}
		}

		&.facebook {
			background:#3B5998;
			color: $white-color;
			@include media(max-width $medium-breakpoint) {
				margin-left:-17.5px;
			}
		}
	}
}
.answer-container{
	text-align: center;
	margin-bottom: 10em;
	@include media(max-width $medium-breakpoint) {
        font-size:1.4em;
    }

	.options {
		display: inline-block;
		@include media(max-width $medium-breakpoint) {
			display: block;
		}
	    text-align: left;
	    @include clearfix;

	    .input-options {
	    	position: relative;

	    	margin-left:0px;
	    	width:auto;
	    	min-width:0px;
	    	@include transition(min-width 0.4s ease);

		    .result-wrapper {
		    	height: 99%;
			    height: calc(100% - 0.6em);

			    opacity:0;
			    @include transition(opacity 0.4s ease);

			    margin-top: 2px;
			    position: absolute;
			    top: 0.3em;
			    left: 0.6em;
			    right:0.6em;
			    z-index: -1;

			    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
    			background: $disabled-grey;

			    .result {
			    	position: absolute;
			    	height: 100%;

				    width: 0%;
				    @include transition(width 0.3s ease);

			    	background: $dark-grey;
			    	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
			    }
		    }
		}

		.input-label-options {
			word-break: break-word;
    		padding-right: 3.6em;
		}

		.input-label-votes {
		    position: absolute;
		    line-height: 3em;
		    margin-top:4px;
		    right: 2em;
		    top:0;
		    color:$label-text-color;
		    opacity: 0;
		    @include transition(opacity 0.3s ease);
		}

		&.show-results {
			.input-options {
				min-width:48em;
				@include media(max-width $medium-breakpoint) {
					min-width: 0px;
					width: 100%;
				}

				.result-wrapper {
					opacity: 1;
				}

				.input-label-votes {
					opacity: 1;
				}
			}
		}
	}

	.input-label-options::after {
		position: absolute;
		top: 3px;
		left: 16px;
		width: 43px;
		height: 43px;
		@include media(max-width 68em) {
	        top: -2px;
			left: 10px;
			width: 38px;
			height: 38px;
	    }
		border-radius: 50%;
		content: '';
		opacity: 0;
		pointer-events: none;

		border: 2px solid rgba(0,0,0,0.5);

		box-shadow: inset 0 0 0 35px rgba(0,0,0,0);
	}

	.input-label-options.input-label-options--click::after {
		//-webkit-animation: anim-effect-jelena 0.3s ease-out forwards;
		//animation: anim-effect-jelena 0.3s ease-out forwards;

		-webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
		animation: anim-effect-radomir 0.5s ease-out forwards;
	}

	@-webkit-keyframes anim-effect-jelena {
		0% {
			opacity: 1;
			-webkit-transform: scale3d(0.5, 0.5, 1);
			transform: scale3d(0.5, 0.5, 1);
		}
		to {
			opacity: 0;
			-webkit-transform: scale3d(1.2, 1.2, 1);
			transform: scale3d(1.2, 1.2, 1);
		}
	}

	@keyframes anim-effect-jelena {
		0% {
			opacity: 1;
			-webkit-transform: scale3d(0.5, 0.5, 1);
			transform: scale3d(0.5, 0.5, 1);
		}
		to {
			opacity: 0;
			-webkit-transform: scale3d(1.2, 1.2, 1);
			transform: scale3d(1.2, 1.2, 1);
		}
	}

	@-webkit-keyframes anim-effect-radomir {
		0% {
			opacity: 1;
			-webkit-transform: scale3d(0.4, 0.4, 1);
			transform: scale3d(0.4, 0.4, 1);
		}
		80% {
			box-shadow: inset 0 0 0 2px rgba(0,0,0,0.8);
			opacity: 0.1;
		}
		100% {
			box-shadow: inset 0 0 0 2px rgba(0,0,0,0.8);
			opacity: 0;
			-webkit-transform: scale3d(1.2, 1.2, 1);
			transform: scale3d(1.2, 1.2, 1);
		}
	}

	@keyframes anim-effect-radomir {
		0% {
			opacity: 1;
			-webkit-transform: scale3d(0.4, 0.4, 1);
			transform: scale3d(0.4, 0.4, 1);
		}
		80% {
			box-shadow: inset 0 0 0 2px rgba(0,0,0,0.8);
			opacity: 0.1;
		}
		100% {
			box-shadow: inset 0 0 0 2px rgba(0,0,0,0.8);
			opacity: 0;
			-webkit-transform: scale3d(1.2, 1.2, 1);
			transform: scale3d(1.2, 1.2, 1);
		}
	}
}