#datepicker {

	position: fixed;
	top:-350px;
	left: 50%;
    margin-left: -160px;
	z-index:200;
	background: $white-color;
	padding:3px;

	box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
	border-radius: 0px;

	@include transition(top 0.3s cubic-bezier(0.34, 1.01, 0.76, 1));

	&.show {
		top:0px;
	}

	.ui-datepicker {
		font-size: 90%;
	}

	.ui-widget {
		font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
		background: $white-color;
		border: none;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		width: 22em;
	}

	.ui-datepicker {
		padding: 0;
	}

	.ui-datepicker-header {
		border: none;
		background: transparent;
		font-weight: normal;
		font-size: 15px;
	}

	.ui-datepicker-header .ui-state-hover {
		background: transparent;
		border-color: transparent;
		cursor: pointer;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}

	.ui-datepicker .ui-datepicker-title {
		margin-top: .4em;
		margin-bottom: .3em;
		color: $label-text-color;
	}

	.ui-datepicker .ui-datepicker-prev-hover,
	.ui-datepicker .ui-datepicker-next-hover,
	.ui-datepicker .ui-datepicker-next,
	.ui-datepicker .ui-datepicker-prev {
		top: .9em;
		border:none;
	}

	.ui-datepicker .ui-datepicker-prev-hover {
		left: 2px;
	}

	.ui-datepicker .ui-datepicker-next-hover {
		right: 2px;
	}

	.ui-datepicker .ui-datepicker-next span {
		background: url(/images/chevron-right.png);
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: contain;
	}

	.ui-datepicker .ui-datepicker-prev span {
		background: url(/images/chevron-left.png);
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: contain;
	}

	.ui-datepicker table {
		margin: 0;
	}

	.ui-datepicker th {
		padding: 1em 0;
		color: $label-text-color;
		font-size: 13px;
		font-weight: normal;
		border: none;
		/*border-top: 1px solid #3a414d;*/
	}

	.ui-datepicker td {
		background: $white-color;
		border: none;
		padding: 0;
	}

	td .ui-state-default {
		background: transparent;
		border: none;
		text-align: center;
		padding: .5em;
		margin: 0;
		font-weight: normal;
		color: $text-color;
		font-size: 16px;
	}

	.ui-state-disabled  {
		opacity: 1;
	}

	.ui-state-disabled .ui-state-default {
		color: #fba49e;
	}

	td .ui-state-active,
	td .ui-state-hover {
		background: $light-grey;
	}
}

#datepicker-overlay {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.1);
	z-index:99;

	opacity: 0;
	visibility: hidden;

	&.show {
		opacity: 1;
		visibility: visible;
	}
}