body {
	background: $background;
	font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
}
input, h1, h2, h3, h4, h5, p, label {
    font-family: $base-font-family;
}

.container {
	@include outer-container;

    /* Temporary fixed width untill responsive is implemented */
    width: 68em;

	position: relative;

	&.header-container {
		margin-top: 100px;
        margin-bottom:50px;
	}
}

.login-container {
    width: 20em;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}

.center-text {
	text-align:center;
}

.hideable {
    /* A horrific hack to allow the labels to change opacity while moving */
    opacity: .999;

    @include transition(opacity 0.3s ease);

    &.gone {
        opacity: 0;
    }
}

.header {
    margin-bottom:20px;

	h1 {
		font-size: 4em;
        height: 1.2em;
    	letter-spacing: -1px;
    	font-weight: 300;
    	color: $text-color;

        margin-bottom:0px;

    	.rw-words span {
    		font-weight:500;
    		right: 60%;
    		padding-right: 16px;
    	}

    	span.header-right {
    		position: absolute;
    		left:40%;
    	}
	}

    h2 {

        font-size: 3em;
        height: 1.2em;
        letter-spacing: -1px;
        font-weight: 300;
        color: $text-color;

        margin-bottom:0px;
    }
}

.contact {
    a {
        line-height: 50px;
        margin-left: 30px;
        color:$dark-grey;
        @include transition(color 0.4s ease);
        &:hover {
            color:$text-color;
        }
    }
}

.jwg_logo {
    float: right;
    margin-right: 30px;
    a {
        opacity:0.4;
        @include transition(opacity 0.4s ease);
        &:hover {
            opacity:1;
        }
    }
}

.error-message {
    margin-top:80px;
}

.login-container {

    form {
        text-align: center;
    }

    .input-login {
        margin-bottom:20px;
        text-align: left;
    }

}

.btn-logout {
    position: fixed;
    top: 0;
    right: 0;
    padding: 6px 20px;
}

.error-message {
    background: $error-red;
    text-align: center;
    color: #fff;
    padding: 3px;
    margin-bottom: 20px;
}

.back-container {
    position: absolute;
    width: auto;
    top: 0px;
    left: 0px;
    .back-button {
        a {
            line-height: 50px;
            margin-left: 30px;
            color: #BBBBBB;
            font-size: 1.1em;
            -webkit-transition: color 0.4s ease;
            -moz-transition: color 0.4s ease;
            transition: color 0.4s ease;

            &:hover {
                color: #4C4C4C;
            }
        }
    }
}