body {
	background: $background;
	font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
}
input, h1, h2, h3, h4, h5, p, label {
    font-family: $base-font-family;
}

.container {
	@include outer-container;

    /* Temporary fixed width untill responsive is implemented */
    width: 68em;

	position: relative;

	&.header-container {
		margin-top: 100px;
        margin-bottom:50px;
	}
}

.center-text {
	text-align:center;
}

.hideable {
    /* A horrific hack to allow the labels to change opacity while moving */
    opacity: .999;

    @include transition(opacity 0.3s ease);

    &.gone {
        opacity: 0;
    }
}

.header {
    margin-bottom:20px;

	h1 {
		font-size: 4em;
        height: 1.2em;
    	letter-spacing: -1px;
    	font-weight: 300;
    	color: $text-color;

        margin-bottom:0px;

    	.rw-words span {
    		font-weight:500;
    		right: 60%;
    		padding-right: 16px;
    	}

    	span.header-right {
    		position: absolute;
    		left:40%;
    	}
	}

    h2 {

        font-size: 3em;
        height: 1.2em;
        letter-spacing: -1px;
        font-weight: 300;
        color: $text-color;

        margin-bottom:0px;
    }
}