input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus {
    border: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
}
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, textarea:disabled:hover, select[multiple=multiple]:disabled:hover {
    border: none;
}
input,textarea {
	line-height: normal;
	&:focus {
		outline: none;
	}

	&.input-field {
		position: relative;
	    display: block;
	    padding: 0.5em;
	    width: 60%;
	    border: none;
	    border-radius: 0;
	    color: $text-color;
	    font-weight: 400;
	    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	    -webkit-appearance: none;

	    width: 100%;
	    background: $light-grey;
	    margin-bottom:0px;
	}
}
textarea {
	resize: none;
	overflow-x: hidden;
	box-sizing: border-box;
    min-height: 2.125em;
}
.input {
	display: block;
    position: relative;
}
.input-label {
    padding: 0 1em;
    color: $label-text-color;
    font-weight: bold;
}

.input-disabled {
	input,textarea {
		&.input-field {
			background: $disabled-grey;
			cursor:default;
		}
	}
	.input-label {
		color: $disabled-label-text-color;
	}
}

/* Radio and Checkbox Styles */

.input-radio, .input-checkbox {
	opacity: 0;
    position: absolute;
}

.input-radio, .input-checkbox, .input-radio-label, .input-checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin: 0.2em;
    cursor: pointer;
}

.input-radio-label, .input-checkbox-label {
    position: relative;
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.75em;
}

.input-radio + .input-radio-label:before, .input-checkbox + .input-checkbox-label:before {
    content: '';
    background: #fff;
    border: 2px solid $label-text-color;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 10px;
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: center;
}

.input-radio:checked + .input-radio-label, .input-checkbox:checked + .input-checkbox-label {
	color: $text-color;
}

.input-radio:checked + .input-radio-label:before, .input-checkbox:checked + .input-checkbox-label:before {
	border: 2px solid $text-color;
}

.input-checkbox:checked + .input-checkbox-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: $text-color;
}

.input-radio + .input-radio-label:before {
    border-radius: 50%;
}

.input-radio:checked + .input-radio-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: $text-color;
}

.input-field-datepicker-trigger {
    right:0.3125em;
    display: inline-block;
    position: absolute;
    cursor:pointer;

    font-size: 2em;
    line-height: 1.625em;

    color:#999;

    .input-disabled & {
        cursor: default;
        color:#d4d4d4;
    }
}