.input-question {
	margin-bottom:1.875em;
}

.input-answer {
	margin-bottom: 1em;
}

textarea.input-field-question {
    font-size: 2.5em;
     @include media(max-width $medium-breakpoint) {
        font-size: 1.8em;
    }
}

input.input-field-answer {
    font-size: 1.5em;
    display: inline-block;
    width: -webkit-calc(100% - 2.3em);
    width: -moz-calc(100% - 2.3em);
    width: calc(100% - 2.3em);
    position: absolute;
    left:2.3em;
}

label.input-label-answer {
	font-size: 1.3em;
	display: inline-block;
	width:50px;
    line-height: 2.5em;
    margin-bottom: 0;
}

label.input-label-advanced {
    padding:0px;
    font-size: 1em;
}

.btn-question {
    float:right;
    margin-right:0px;
}

.question-container {
	@include transition(top 0.4s ease);
	top:0px;
	&.move-up {
		top:-11.25em;
	}
}