@import "base/variables";

$background: #f5fafa;
$text-color: #4C4C4C;

$dark-grey: #BBBBBB;
$light-grey: #DEDEDE;
$disabled-grey: #EAEAEA;

$white-color: #ffffff;

$label-text-color: #9E9E9E;
$disabled-label-text-color: #DEDEDE;

$error-red:#C10202;

$base-font-family: Roboto, sans-serif;

$large-breakpoint: 68em;
$medium-breakpoint: 48em;