@import "bourbon";
@import 'base/base';
@import "neat";
@import "variables";

html {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    height: 100%;
    overflow: auto;

    background: $background;
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;

    margin:0px;
    position: relative;
    padding-bottom: 60px;

    @media screen and (max-width: $large-breakpoint) {
        font-size: 0.7em;
    }
    @media screen and (max-width: $medium-breakpoint) {
        font-size: 0.5em;
    }
}

input, h1, h2, h3, h4, h5, p, label {
    font-family: $base-font-family;
}

.container {
    @include grid-container;

    @media (max-width: $medium-breakpoint) {
        max-width:100%;
    }

    width:100%;

    padding:0px 1em;

    position: relative;

    &.header-container {
        padding-top: 6.25em;
        margin-bottom:3.125em;
    }
}

.center-text {
    text-align:center;
}