@import "bourbon";
@import "neat";

@import "variables";
@import 'base/base';

@import "components/input";

html {
    overflow: hidden;
    height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    height: 100%;
    overflow: auto;

    background: $base-background-color;
    -webkit-font-smoothing: antialiased;

    margin:0px;
    position: relative;
    padding-bottom: 60px;

    @media screen and (max-width: $screen-md-max) {
        font-size: 0.7em;
    }
    @media screen and (max-width: $screen-sm-max) {
        font-size: 0.5em;
    }
}
