.modal-button {
  margin: 1em auto;
  padding: 1em 2em;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  background: #C94E50;
  color: #FFFFFF;
  border: none;
}

.modal-container {
  padding: 2em;
  text-align: center;
}

.modal-title {
  margin: 0;
  color: #C94E50;
  font-weight: 400;
}
