.alert {
  padding: 6px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid transparent;

  &.alert-success {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}
