input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus {
    border: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
}
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, textarea:disabled:hover, select[multiple=multiple]:disabled:hover {
    border: none;
}
input,textarea {
	line-height: normal;
	&:focus {
		outline: none;
	}

	&.input-field {
		position: relative;
	  display: block;
	  padding: 0.5em;
	  border: none;
	  border-radius: 0;
	  color: $base-font-color;
	  font-weight: 400;
	  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  -webkit-appearance: none;
    transition: background $base-duration $base-timing;

	  width: 100%;
	  background: $light-grey;
	  margin-bottom: 0px;
	}
}
textarea {
	resize: none;
	overflow-x: hidden;
	box-sizing: border-box;
  min-height: 2.125em;
}
.input {
	display: block;
  position: relative;
}
.input-label {
  padding: 0 1em;
  color: $label-text-color;
  font-weight: bold;
  transition: color $base-duration $base-timing;
}

.input-disabled {
	input, textarea {
		&.input-field {
			background: $disabled-grey;
			cursor: default;
		}
	}
	.input-label {
		color: $disabled-label-text-color;
	}
}

/* Radio and Checkbox Styles */
.input-radio, .input-checkbox {
	opacity: 0;
  position: absolute;
  left: -9999px;
}

.input-label-options {
  display: inline-block;
  vertical-align: middle;
  margin: 0.2em;
  cursor: pointer;
  position: relative;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.875em;
  margin-bottom: 0px;
}

.input-radio + .input-label-options:before, .input-checkbox + .input-label-options:before {
  content: '';
  background: #fff;
  border: 0.125em solid $label-text-color;
  display: inline-block;
  vertical-align: middle;
  width: 1.5625em;
  height: 1.5625em;
  padding: 0.125em;
  margin-right: 0.625em;
  margin-top: -0.125em;
  font-size: 1rem;
  @media (max-width: 68em) {
    font-size: 0.9rem;
  }
  line-height: 1.1em;
  text-align: center;
  text-indent: -1px;
}

.input-radio:checked + .input-label-options, .input-checkbox:checked + .input-label-options {
	color: $base-font-color;
}

.input-radio:checked + .input-label-options:before, .input-checkbox:checked + .input-label-options:before {
	border: 2px solid $base-font-color;
}

.input-checkbox:checked + .input-label-options:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: $base-font-color;
  text-indent: 0px;
}

.input-radio + .input-label-options:before {
  border-radius: 50%;
}

.input-radio:checked + .input-label-options:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: $base-font-color;
}

.input-radio + .input-label-options--hidden,
.input-checkbox + .input-label-options--hidden {
  cursor: default;
}

.input-radio + .input-label-options--hidden:before,
.input-checkbox + .input-label-options--hidden:before {
  display: none;
}

.input-field-datepicker-trigger {
  right: 0.3125em;
  display: inline-block;
  position: absolute;
  cursor: pointer;

  font-size: 2em;
  line-height: 1.625em;

  color: #999;

  .input-disabled & {
    cursor: default;
    color: #d4d4d4;
    }
}

.input-error-label {
  color: #f52525;
  font-weight: 300;
  font-size: 1.1em;
  padding: 0 1em;
  margin-top: 0.3em;
  display: block;
}

.input-error {
  .input-field {
    background: #ffeaed;
  }
}
