@import "variables";

.header-container {
  padding-top: 6.25em;
  margin-bottom: 3.125em;
}

.header {
  margin-bottom: 2em;

  h1 {
    font-size: 4em;
    line-height: 1.2em;
    min-height: 1.2em;
    letter-spacing: -1px;
    font-weight: 300;
    color: $base-font-color;

    margin-bottom: 0px;

    span {
      font-weight: 500;
    }
  }
}
