{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="robots" CONTENT="NOINDEX, FOLLOW">
{% endblock %}

{% block body %}

    <div class="container header-container hideable">
        <div class="header center-text">
            <h1>Login</h1>
        </div>
    </div>

    <div class="container login-container">

        {% if error %}
            <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('admin_login_check') }}" method="post">

            <span class="input input-login">
                <label class="input-label input-label-login" for="username">Username</label>
                <input class="input-field input-field-login" type="text" id="username" name="_username" value="{{ last_username }}" />
            </span>

            <span class="input input-login">
                <label class="input-label input-label-login" for="password">Password</label>
                <input class="input-field input-field-login" type="password" id="password" name="_password" />
            </span>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button class="btn btn-login" type="submit">Login</button>
        </form>
    </div>

{% endblock %}