<!doctype html>
<html lang="en">
    <head>
        <title>It's going to be Dev</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div id="root" style="height: 100%"></div>
        <script type="text/javascript" src="{{ url('base_url')|trim(':8000/') }}:3000/client/manifest.js"></script>
        <script type="text/javascript" src="{{ url('base_url')|trim(':8000/') }}:3000/client/normalize.js"></script>
        <script type="text/javascript" src="{{ url('base_url')|trim(':8000/') }}:3000/client/vendor.js"></script>
        <script type="text/javascript" src="{{ url('base_url')|trim(':8000/') }}:3000/client/main.js"></script>
    </body>
</html>