@import "variables";

.panel {
  background: #fff;
  padding: 1.2em 1.6em;
  border: 1px solid #E6E9ED;
  border-radius: 2px;
  margin-bottom: 5em;

  .panel-header {
    padding-bottom: 0.6em;
    padding-left: 0.2em;
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
    border-bottom: 2px solid #e6e9ed;
  }

  .panel-body {
    position: relative;

    @media(max-width: $screen-xs-max) {
      overflow-x: auto;
    }

    .spinner-container {
      position: absolute;
      top: 2em;
      top: calc(50% - 2em);
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;

      &.no-paginator {
        top: calc(50%);
      }
    }

    .table-container {
      opacity: 0.999;
      min-width: 665px;

      &.hidden {
        opacity: 0;
      }

      a {
        cursor: pointer;
      }
    }

    th {
      padding-left: 0.2em;
      padding-right: 0.2em;
      position: relative;

      button {
        background: none!important;
        border: none;
        font-weight: 600;
        padding: 0!important;
        color: $base-font-color;
        text-decoration: none;
        cursor: pointer;
      }

      i {
        position: absolute;
        right: 1.1em;
        line-height: 2.5em;
        color: $disabled-label-text-color;
      }

      &.sort-active:before {
        content : "";
        position: absolute;
        left: 0.2em;
        right: 1.1em;
        bottom  : 0;
        height  : 2px;
        border-bottom: solid 2px $base-font-color;
      }

      &.sort-active, &:hover {
        i {
          color: $base-font-color;
        }
      }
    }

    td {
      button {
        background: none!important;
        border: none;
        font-weight: 600;
        padding: 0!important;
        color: $action-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
