{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "strict"                  : [2, "safe"],
    "semi"                    : "off",
    "no-empty-label"          : "off",
    "no-process-env"          : "off",
    "space-after-keywords"    : "off",
    "space-before-keywords"   : "off",
    "space-return-throw-case" : "off",
    "key-spacing"             : 0,
    "max-len"                 : [2, 120, 2],
    "object-curly-spacing"    : [2, "always"],
    "comma-dangle"            : 0,
    "no-multi-spaces"         : [2, {"exceptions": {"VariableDeclarator": true}}],
    "no-extra-semi"           : 1,
    "no-unreachable"          : 1
  }
}
