@import "variables";

.logout-conatiner {
  position: fixed;
  right: 1em;
  z-index: 10;

  .btn {
    @media(max-width: $screen-md-max) {
      font-size: 1em;
    }
  }
}

.view-polls {
  color: $base-font-color;
  cursor: pointer;
}
