button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  button:focus, input[type="button"]:hover,
  input[type="button"]:focus, input[type="reset"]:hover,
  input[type="reset"]:focus, input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active,
  a:focus,
  a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.rw-words {
  display: inline; }

.rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 12s cubic-bezier(0.47, 0.04, 0.41, 0.93) infinite 0s; }

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s; }

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s; }

/*.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}*/
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0; }
  1% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  4% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  27% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}*/
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus {
  border: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4; }

input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, textarea:disabled:hover, select[multiple=multiple]:disabled:hover {
  border: none; }

input, textarea {
  line-height: normal; }
  input:focus, textarea:focus {
    outline: none; }
  input.input-field, textarea.input-field {
    position: relative;
    display: block;
    padding: 0.5em;
    width: 60%;
    border: none;
    border-radius: 0;
    color: #4C4C4C;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    width: 100%;
    background: #DEDEDE;
    z-index: 100;
    margin-bottom: 0px; }

textarea {
  resize: none;
  overflow-x: hidden;
  box-sizing: border-box; }

.input {
  display: block; }

.input-label {
  padding: 0 1em;
  color: #9E9E9E;
  font-weight: bold; }

.input-disabled input.input-field, .input-disabled textarea.input-field {
  background: #EAEAEA;
  cursor: default; }

.input-disabled .input-label {
  color: #DEDEDE; }

/* Radio and Checkbox Styles */
.input-radio, .input-checkbox {
  opacity: 0;
  position: absolute; }

.input-radio, .input-checkbox, .input-radio-label, .input-checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer; }

.input-radio-label, .input-checkbox-label {
  position: relative;
  font-weight: 300;
  font-size: 1.6em; }

.input-radio + .input-radio-label:before, .input-checkbox + .input-checkbox-label:before {
  content: '';
  background: #fff;
  border: 2px solid #9E9E9E;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center; }

.input-radio:checked + .input-radio-label, .input-checkbox:checked + .input-checkbox-label {
  color: #4C4C4C; }

.input-radio:checked + .input-radio-label:before, .input-checkbox:checked + .input-checkbox-label:before {
  border: 2px solid #4C4C4C; }

.input-checkbox:checked + .input-checkbox-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #4C4C4C; }

.input-radio + .input-radio-label:before {
  border-radius: 50%; }

.input-radio:checked + .input-radio-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #4C4C4C; }

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 18px 60px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
  background: #DEDEDE;
  color: #4C4C4C; }
  .btn:focus {
    background: #DEDEDE;
    color: #4C4C4C; }
  .btn:hover {
    background: #CCCCCC;
    color: #4C4C4C; }
  .btn:active {
    top: 2px; }
  .btn.disabled {
    background: #EAEAEA;
    color: #9E9E9E;
    cursor: default;
    top: 0px; }

body {
  background: #f5fafa;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased; }

input, h1, h2, h3, h4, h5, p, label {
  font-family: Roboto, sans-serif; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /* Temporary fixed width untill responsive is implemented */
  width: 68em;
  position: relative; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container.header-container {
    margin-top: 100px;
    margin-bottom: 50px; }

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.center-text {
  text-align: center; }

.hideable {
  /* A horrific hack to allow the labels to change opacity while moving */
  opacity: .999;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .hideable.gone {
    opacity: 0; }

.header {
  margin-bottom: 20px; }
  .header h1 {
    font-size: 4em;
    height: 1.2em;
    letter-spacing: -1px;
    font-weight: 300;
    color: #4C4C4C;
    margin-bottom: 0px; }
    .header h1 .rw-words span {
      font-weight: 500;
      right: 60%;
      padding-right: 16px; }
    .header h1 span.header-right {
      position: absolute;
      left: 40%; }
  .header h2 {
    font-size: 3em;
    height: 1.2em;
    letter-spacing: -1px;
    font-weight: 300;
    color: #4C4C4C;
    margin-bottom: 0px; }

.contact a {
  line-height: 50px;
  margin-left: 30px;
  color: #BBBBBB;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  .contact a:hover {
    color: #4C4C4C; }

.jwg_logo {
  float: right;
  margin-right: 30px; }
  .jwg_logo a {
    opacity: 0.4;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }
    .jwg_logo a:hover {
      opacity: 1; }

.input-question {
  margin-bottom: 30px; }

.input-answer {
  margin-bottom: 15px; }

textarea.input-field-question {
  font-size: 2.5em; }

input.input-field-answer {
  font-size: 1.5em;
  display: inline-block;
  width: 75%; }

label.input-label-answer {
  font-size: 1.3em;
  display: inline-block;
  width: 50px; }

.btn-question {
  float: right;
  margin-right: 0px; }

.question-container {
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  transition: top 0.4s ease;
  top: 0px; }
  .question-container.move-up {
    top: -180px; }

.header-container .share-link {
  margin: 0px;
  font-weight: 300;
  font-size: 1.3rem;
  margin-top: 15px;
  border-radius: 30px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
  background: #EAEAEA;
  padding: 5px 15px;
  display: inline-block; }

.answer-container {
  text-align: center; }
  .answer-container .options {
    display: inline-block;
    text-align: left; }
    .answer-container .options::after {
      clear: both;
      content: "";
      display: table; }
    .answer-container .options .input-options {
      position: relative;
      margin-left: 0px;
      width: auto;
      min-width: 0px;
      -webkit-transition: min-width 0.4s ease;
      -moz-transition: min-width 0.4s ease;
      transition: min-width 0.4s ease; }
      .answer-container .options .input-options .result-wrapper {
        height: 90%;
        opacity: 0;
        -webkit-transition: opacity 0.4s ease;
        -moz-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
        margin-top: 2px;
        position: absolute;
        top: 5%;
        left: 15px;
        right: 15px;
        z-index: -1;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
        background: #EAEAEA; }
        .answer-container .options .input-options .result-wrapper .result {
          position: absolute;
          height: 100%;
          width: 0%;
          -webkit-transition: width 0.3s ease;
          -moz-transition: width 0.3s ease;
          transition: width 0.3s ease;
          background: #BBBBBB;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4; }
    .answer-container .options.show-results .input-options {
      min-width: 800px; }
      .answer-container .options.show-results .input-options .result-wrapper {
        opacity: 1; }
  .answer-container .input-radio-label::after {
    position: absolute;
    top: 0px;
    left: 17px;
    /*margin: -35px 0 0 -35px;*/
    width: 43px;
    height: 43px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 35px transparent; }
  .answer-container .input-radio-label.input-radio-label--click::after {
    -webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
    animation: anim-effect-radomir 0.5s ease-out forwards; }

@-webkit-keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1); } }

@keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1); } }

@-webkit-keyframes anim-effect-radomir {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1); }
  80% {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.8);
    opacity: 0.1; }
  100% {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1); } }

@keyframes anim-effect-radomir {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1); }
  80% {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.8);
    opacity: 0.1; }
  100% {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1); } }
