@import "variables";

.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 2em;

  .info-block-column {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 40px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .info-block-column:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 2px solid lighten($base-font-color, 30%);
  }

  .info-block-column:first-child:before {
    border-left: 0px;
  }

  .info-body {
    font-weight: 600;
    font-size: 3em;
    line-height: 1em;
  }
}
