.word-rotate {
    position: relative;

    .word-rotate_word {
        position: absolute;
        right: 12px;

        &.word-rotate_word--previous {
           transform: translate(0, 1em);
           opacity: 0;
        }
    }
}