@import "bourbon";
@import "neat";
@import "variables";

h3 {
  position: relative;
}

.share-link {
  margin: 0px;
  font-weight: 300;
  font-size: 1.0rem;
  margin-top: 15px;
  border-radius: 30px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
  background: #EAEAEA;
  padding: 0.25em 0.75em;
  display: inline-block;
}

.shareButton {
  display: inline-block;
  width:1.75em;
  padding: 0.25em 0.25em;
  border-radius: 30px;
  font-size: 1rem;
  margin-left: 5px;

  background: #EAEAEA;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #D4D4D4;
  color: $base-font-color;

  @media(max-width: $screen-md-min) {
    position: absolute;
    top:55px;
    left:50%;
    margin-left:22.5px;
  }

  &.twitter {
    background:#55acee;
    color: $white;
    @media(max-width: $screen-md-min) {
      margin-left:-57.5px;
    }
  }

  &.facebook {
    background:#3B5998;
    color: $white;
    @media(max-width: $screen-md-min) {
      margin-left:-17.5px;
    }
  }
}
