@import "bourbon";
@import "neat";
@import "variables";

.footer-container {
    @media (max-width: $screen-md-max) {
        font-size: 1.4em;
    }
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $base-background-color;
    background: rgba(245, 250, 250, 0.6);
    z-index: 1000;

    .contact {
        position: absolute;
        bottom: 0px;
        a {
            line-height: 3.125em;
            margin-left: 1.875em;
            color: $dark-grey;
            transition: color 0.4s ease;
            &:hover {
                color: $base-font-color;
            }
        }
    }

    .jwg_logo {
        float: right;
        margin-right: 1.875em;
        line-height: 1em;
        a {
            opacity: 0.4;
            transition: opacity 0.4s ease;
            &:hover {
                opacity: 1;
            }
            img {
                height: 3.125em;
            }
        }
    }
}
