@import "variables";

.panel {
  background: #fff;
  padding:1.6em;
  border: 1px solid #E6E9ED;
  border-radius: 2px;
  margin-bottom: 5em;

  .panel-header {
    padding-bottom: 0.8em;
    padding-left: 0.6em;
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
    border-bottom: 2px solid #e6e9ed;

    a {
      font-size: 0.8em;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .panel-body {
    .spinner {
      margin-top: 2em;
    }
  }
}

th, td {
  text-align: center;
}

.pagination-container {
  text-align: center;
  margin-top: 1.6em;

  .btn-pagination {
    border: solid 1px $label-text-color;
    color: $label-text-color;
    background: $white;
    box-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5em 0.9em;
    border-radius: 0.2em;
    margin: 0px;
    margin-right: .5em;

    &.disabled {
      background: $disabled-grey;
    }

    &:first-child {
      margin-right: 1em;
    }

    &:last-child {
      margin-left: .5em;
      margin-right: 0;
    }
  }
}
