@import "bourbon";
@import "neat";
@import "variables";

.input-option {
  margin-bottom: 2em;

  .input-field {
    font-size: 1.5em;
  }

  .input-option-radios {
    margin-bottom: 2em;
  }

  .input-option-slider {
    padding: 0 1em;

    .input-option-slider-label {
      text-align: center;
      font-weight: 300;
      font-size: 1.6em;
    }

    .rangeslider {
      max-width: 80%;
      margin: 0 auto;
      margin-top: 2em;
    }
  }

  .input-option-datepicker {
    text-align: center;
    font-weight: 300;
    font-size: 1.6em;

    .input-option-datepicker-label {
      cursor: pointer;
    }

    > div:first-child {
      display: inline-block;
    }

    .ant-time-picker {
      font-size: inherit;
      .ant-time-picker-input {
        border: none;
        background: none;
        border-radius: 0;
        font-size: inherit;
        font-weight: 300;
        height: auto;
        box-shadow: none;
        cursor: pointer;
        padding: 0;
        padding-left: 8px;
        margin: 0;
        color: inherit;
      }

      .ant-time-picker-icon {
        display: none;
      }
    }
  }
}

.ant-time-picker-panel-input {
  border-radius: 0;
  background: none;
  box-shadow: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.ant-time-picker-panel-clear-btn {
  display: none;
}

.rangeslider,
.rangeslider .rangeslider__fill {
  box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
  border-radius: 2px;
}

.rangeslider {
  background: $light-grey;
}

.rangeslider .rangeslider__fill {
  background: $medium-grey;
}

.rangeslider-horizontal .rangeslider__handle:after {
  background: none;
  box-shadow: none;
}

.react-datepicker-popper {
  margin-left: -20px;
}

.react-datepicker,
.react-datepicker * {
  border-radius: 0;
  color: $base-font-color;
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selected {
  background-color: $label-text-color;
  color: $white;
  border-radius: 0;
}

.react-datepicker__day--in-range:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--selected:hover {
  background-color: darken($label-text-color, 10%);
  border-radius: 0;
}

.react-datepicker__day--disabled {
  color: $disabled-grey;
}
