{% extends 'base.html.twig' %}

{% block body %}

	<div class="content-wrapper">
	    <div class="content">
	        <h2 class="content-head is-center">Found - {{ questionModel.question }}</h2>
	    </div>
	</div>
    
{% endblock %}
