{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="robots" CONTENT="INDEX, FOLLOW">
{% endblock %}

{% block body %}

    <div class="container header-container hideable">
    	<div class="header">
    		<h1>
    			<span class="rw-words rw-words-1">
					<span>What</span>
					<span>When</span>
					<span>Where</span>
					<span>Who</span>
				</span>
				<span class="header-right"> is it going to be?</span></h1>
    	</div>
    </div>

	<div class="container question-container">
		<form action="{{ path('question-post') }}" method="post" autocomplete="off">

	 		<span class="input input-question">
	   			<label class="input-label input-label-question" for="question">Ask a question</label>
	   			<textarea class="input-field input-field-question js-auto-size" rows="1" id="question" name="question" placeholder=""></textarea>
	   		</span>

			<div class="answers hideable gone">

				<span class="input input-answer">
					<label class="input-label input-label-answer" for="answer-1">1</label>
		   			<input class="input-field input-field-answer" type="text" id="answer-1" name="answer-1"></textarea>
		   			<i class="input-field-datepicker-trigger" for="answer-1"></i>
		   		</span>

		   		<span class="input input-answer input-disabled">
		   			<label class="input-label input-label-answer" for="answer-2">2</label>
		   			<input class="input-field input-field-answer" disabled type="text" id="answer-2" name="answer-2"></textarea>
		   			<i class="input-field-datepicker-trigger" for="answer-2"></i>
		   		</span>

			</div>

			<div class="options hideable gone">
				<button class="btn btn-question disabled">Submit</button>
			</div>
		</form>
	</div>

	<div id="datepicker"></div>
	<div id="datepicker-overlay"></div>

{% endblock %}

{% block javascripts %}

	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script src="{{ asset('/js/jquery.textarea_autosize.min.js') }}"></script>
	<script>
		$('textarea').textareaAutoSize();
	</script>

{% endblock %}
