{% extends 'base.html.twig' %}

{% block body %}

    <div class="container header-container">

    	<div class="header">
    		<h1>
    			<span class="rw-words rw-words-1">
					<span>What</span>
					<span>When</span>
					<span>Where</span>
					<span>Who</span>
				</span>
				<span class="header-right"> is it going to be?</span></h1>
    	<div>

    </div>
    
{% endblock %}
