{% extends 'base.html.twig' %}

{% block body %}

    <div class="container header-container hideable">
    	<div class="header">
    		<h1>
    			<span class="rw-words rw-words-1">
					<span>What</span>
					<span>When</span>
					<span>Where</span>
					<span>Who</span>
				</span>
				<span class="header-right"> is it going to be?</span></h1>
    	</div>
    </div>
  	

	<div class="container question-container">
		<form autocomplete="off">

	 		<span class="input input-question">
	   			<label class="input-label input-label-question" for="question">Ask a question</label>
	   			<textarea class="input-field input-field-question js-auto-size" rows="1" id="question"></textarea>
	   		</span>

			<div class="answers hideable gone">

				<span class="input input-answer">
					<label class="input-label input-label-answer" for="answer-1">1</label>
		   			<input class="input-field input-field-answer" type="text" id="answer-1"></textarea>
		   		</span>

		   		<span class="input input-answer input-disabled">
		   			<label class="input-label input-label-answer" for="answer-2">2</label>
		   			<input class="input-field input-field-answer" disabled type="text" id="answer-2"></textarea>
		   		</span>

			</div>

			<div class="options hideable gone">
				<button class="btn btn-question disabled">Submit</button>
			</div>
		</form>
	</div>
    
{% endblock %}

{% block javascripts %}

	<script>
		$('textarea').textareaAutoSize();
	</script>

{% endblock %}
