{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="robots" CONTENT="INDEX, FOLLOW">
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
	{% if app.environment == 'dev' %}
        <script src="http://127.0.0.1:3000/static/bundle.js"></script>
    {% else %}
        <script src="{{ asset('dist/bundle.js') }}"></script>
    {% endif %}
{% endblock %}
