@import "variables";

.passphrase-container {
  z-index: 1050;
  position: fixed;
  width: 90%;
  @media (min-width: $screen-sm-min) {
    width: ($container-sm - ($gutter-width * 8));
  }
  @media (min-width: $screen-md-min) {
    width: ($container-md - ($gutter-width * 10));
  }
  @media (min-width: $screen-lg-min) {
    width: ($container-lg - ($gutter-width * 12));
  }
  transform: translate3d(-50%, -50%, 0px);
  top: 30%;
  left: 50%;
}

.input-passphrase {
  margin-bottom: 1em;

  .input-field {
    font-size: 1.5em;
  }
}
