@import "bourbon";
@import "variables";

.answer-container {
  text-align: center;
  margin-bottom: 10em;

  @media(max-width: $screen-md-min) {
    margin-top: 8em;
  }

  .options {
    display: inline-block;
    text-align: left;
  }
}
