@import "variables";

.actions {
  margin-top: 2em;

  @media(max-width: $screen-md-max) {
    font-size: 1.3em;
  }

  @media(max-width: $screen-xs-max) {
    text-align: center;
    margin-top: 4em;
  }

  .pull-right {
    @media(max-width: $screen-xs-max) {
      float: none;
    }
  }
}
