@import "~bourbon/core/bourbon";
@import "variables";

$loader-color: $base-font-color;
$loader-size: 22px;
$loader-animation-duration: 1.15s;

.loader-container {
  background: $base-background-color;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  top: 0px;
  left: 0px;

  .loader,
  .loader__figure {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
  }

  .loader__label {
    font-size: 150px;
    line-height: 150px;
    font-weight: 400;
    margin: 0px;

    animation-name: loader-label;
    animation-duration: $loader-animation-duration;
    animation-iteration-count: infinite;
    animation-timing-function: $ease-out-cubic;

    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 20px;
      left: 24px;
      background: $base-background-color;
    }
  }

  .loader__figure {
    @include size(0);
    box-sizing: border-box;
    border: 0 solid $loader-color;
    border-radius: 50%;
    animation-name: loader-figure;
    animation-duration: $loader-animation-duration;
    animation-iteration-count: infinite;
    animation-timing-function: $ease-out-cubic;
    transform: translate(calc(-50% - 2px), calc(-50% + 45px));
  }
}

.gone {
  .loader__label,
  .loader__figure {
    animation: none;
  }
}

@keyframes loader-figure {
  0% {
    @include size(0);
    background-color: $loader-color;
    opacity: 0;
  }

  29% {
    background-color: $loader-color;
  }

  30% {
    @include size($loader-size);
    background-color: transparent;
    border-width: $loader-size / 2;
    opacity: 1;
  }

  100% {
    @include size($loader-size);
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@keyframes loader-label {
  0% {
    opacity: 0.3;
  }

  10% {
    opacity: 0.4;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
